{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restablecimiento de Contraseña</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
  </head>
  <body>
    <div class="contenedor-app">
      <div class="imagen"></div>
      <div class="app">
        <h1 class="nombre-pagina">Restablecer Contraseña</h1>
        <form method="post" id="reset-password-form">
          {% csrf_token %} {{ form.as_p }}
          <input type="submit" class="boton" value="Cambiar Contraseña" />
        </form>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      $(document).on("submit", "#reset-password-form", function (e) {
        e.preventDefault();
        var form = $(this);
        $.ajax({
          type: "POST",
          url: form.attr("action"),
          data: {
            ...form.serializeArray().reduce((obj, item) => {
              obj[item.name] = item.value;
              return obj;
            }, {}),
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
          },
          success: function (response) {
            alert(response.message);
          },
          error: function (xhr) {
            var error = xhr.responseJSON
              ? xhr.responseJSON.error
              : "Error desconocido";
            alert(error);
          },
        });
      });
    </script>
  </body>
</html>
